{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}




{% block body %}

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



    <h1 aling="center">Nuevo Producto</h1>
    <h4 aling="center">Debes llenar el formulario para crear uno nuevo.</h4>


    {% for message in app.flashes('exito') %}
    <h4>{{ message }}</h4>

    {% endfor %}

    {{ form(formulario) }}

{% endblock %}
